<!DOCTYPE html>
<html>
    <head>
    
    </head>
    <body>
    
    <div class="port">
    <div class="titlebox">
        <h1>Mg Ars</h1>
    </div>

    <div class="release">
        <h1>Gran lanzamiento</h1>
        <p>Album Homonimo</p>
        <p>Feb 16, 2022</p>
    </div>

    <div id="countdown">
        
    </div> 

    <script type="text/javascript">
    
    var countDownDate = new Date("Feb 16, 2022 17:30:01").getTime();

    var x = setInterval(function() {
    var now = new Date().getTime();
    var distance = countDownDate - now;
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    document.getElementById("countdown").innerHTML = days + " days " + hours + "h "
    + minutes + "m " + seconds + "s ";

    if (distance < 0) {
        clearInterval(x);
        document.getElementById("countdown").innerHTML = "EXPIRED";
    }
    }, 1000);

    </script>

    <div class="registro" id="reg">
    
        <h3>Obtener album</h3>
        <%= form_for @user, :url => { :action => :create}, html: {class: "form"}, remote: true do |f| %>
            <%= f.label :nombre %><br>
            <%= f.text_field :nombre, placeholder: "nombre", id: "nombre" %><br>
            <%= f.label :email %><br>
            <%= f.email_field :email, placeholder: "email", id: "email" %><br>
            <%= f.submit :Enviar %>
        <% end %>
        </div>

        <script>
        $(document).ready(function(){     
            $(".form").on('submit', function(e){
                e.preventDefault();
                var dataForm = $(this).serialize();
                $.ajax({
                    type: 'POST',
                    url: '/',
                    dataType: 'json',
                    data: dataForm,
                    success: function() {
                        $('#reg').html("<div id='message'></div>");
                        $('#message').html("<h2>Successfully added</h2>")
                        .hide()
                        .fadeIn(1500, function(){
                            $('#message');
                        })
                    }
                });
        
              });
           });
        </script>
        
    <footer>
    MgArs.music 2021 &copy;
    </footer>

    </div>


    </body>

</html>
